.topnav
   .logo 
      img(src="" alt="")
   .menu
      a.active(href="#aboutus") О нас
      a(href="#services") Услуги
      a(href="#jobs") Вакансии
      a(href="#news") Новости
      a(href="#agreement") Соглашения

